/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1,
h2,
h3,
dl,
dd,
figure {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

image {
  max-width: 100%;
  height: auto;
  display: block;
}

/* UTILITY */

.icon-btn {
  padding: 0.5rem 0.7rem;
  width: 32px;
  height: 32px;
  border-radius: 0.3rem;
}

.icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.gb-1 {
  background-color: #ff99c8;
}
.gb-2 {
  background-color: #fcf6bd;
}
.gb-3 {
  background-color: #d0f4de;
}
.gb-4 {
  background-color: #a9def9;
}
.gb-5 {
  background-color: #e4c1f9;
}

/* *:hover {
  outline: 1px solid black;
  outline-offset: -1px;
} */

.hidden {
  display: none !important;
}

/* CUSTOM */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.app-container {
  min-height: 100vh;
  display: flex;
}

.navigation {
  width: 5rem;
  min-width: 5rem;
}

.panels-container {
  flex-grow: 1;
  display: flex;
}

.editor-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.options-panel {
  height: 100%;
  width: 20rem;
  min-width: 20rem;
}

.controls {
  height: 10rem;
  display: flex;
  flex-direction: column;
}

.controls__actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.preview-container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#preview-canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
